<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css"  href="../../../css/payroll.css" 
		 	th:href="@{/css/payroll.css}" />
		<title>Приложение зарплата</title>	
	</head>
	
	<body>		
		<table class = "center">
		<tr>
		<th> 			
			<h2 class ="center">Меню</h2>			
		</th>
		</tr>		 
		
		<tr height = "100px">	
			<td>
				 <form>
				 	<div>
				 		<a th:href = "@{/api/managers}"> Менеджеры </a>
				 	</div>		
				</form>				
			</td>
		</tr>		
		<tr height = "100px">
			<td> 
				<form>
					<div>
						<a th:href = "@{/api/settings}"> Настройки </a>
					</div>
				</form>
			</td>
		</tr>		 
		</table>		
	</body>
</html>