<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css"  href="../../../css/payroll.css" 
		 	th:href="@{/css/payroll.css}" />
		<title>Информация</title>
	</head>
	
	<body>			
		<h1>Добавление менеджера</h1>
		<form th:method = "POST" th:action = "@{/api/managers}" th:object = "${manager}" >	
			<div class = "field">
				<label for ="fullName">ФИО менеджера</label>		
				<input type = "text" th:field = "*{fullName}" id = "fullName"/>
				<br><br>				
				<input type = "submit" class = "btn-green" style = "font-size:20px" 
					value = "Сохранить"/>	
				<br><br>
				<a th:href = "@{/api/managers}"	class = "button">Назад</a>
			</div>
		</form>		
	</body>
</html>