<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css"  href="../../../css/payroll.css" 
		 	th:href="@{/css/payroll.css}" />
		<title>Расчет зарплаты</title>
	</head>	
	<body>		
		<table border = "1">
		<caption>Процент с продаж</caption>
			<tr>
				<th>Общая выручка за месяц</th>
				<th>Выручка за месяц за оборудование</th>
				<th>План продаж складских позиций</th>
				<th>Зарплатная ставка</th>
			</tr>			
			<tr><td>0</td><td>0</td><td>5600</td><td>11000</td></tr>					
		</table>		
		<br>
		<br>
		<table border = "1">
		<caption>Клиент</caption>
			<tr>
				<th>Общая выручка за месяц</th>
				<th>Выручка за месяц за оборудование</th>
				<th>План продаж складских позиций</th>
				<th>Зарплатная ставка</th>
			</tr>			
			<tr><td>0</td><td>0</td><td>5600</td><td>11000</td></tr>					
		</table>	
		<br>
		<br>	
		<table border = "1">
		<caption>Бизнес-процесы</caption>
			<tr>
				<th>Общая выручка за месяц</th>
				<th>Выручка за месяц за оборудование</th>
				<th>План продаж складских позиций</th>
				<th>Зарплатная ставка</th>
			</tr>			
			<tr><td>0</td><td>0</td><td>5600</td><td>11000</td></tr>					
		</table>	
	</body>
</html>