<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset = "UTF-8" name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css"  href="../../../css/payroll.css" 
		 	th:href="@{/css/payroll.css}" />
		 <title>Информация</title>
	</head>
	
	<body>			
		<h1>Изменение менеджера</h1>
		<form th:method = "PATCH" th:action = "@{/api/managers/{id}(id = ${manager.getId()})}" th:object = "${manager}" >	
			<div class = "field">
				<label for="fullName">ФИО</label>		
				<input type = "text" th:field = "*{fullName}"  id = "fullName"/>
				<br><br>				
				<input type = "submit" class = "btn-green" style = "font-size:20px" 
					value = "Изменить"/>	
				<br><br>
				<a th:href = "@{/api/managers}"	 class = "button">Назад</a>
			</div>
		</form>		
	</body>
</html>