<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset = "UTF-8" name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css"  href="../../../css/payroll.css" th:href="@{/css/payroll.css}" /> 
		<title>Коэффициенты</title>
	</head>
	
	<body>	
		<form th:method = "POST" th:action = "@{/api/settings/payments}" th:object = "${payment}" >
		<table class="center">
			<caption>Зарплатные ставки</caption>	
			<tfoot align="center">
				<tr height = "100px">				
					<td> 
						<div>
							<a th:href = "@{/api/settings}"	 class = "button">Назад</a>	
						</div>											
					</td>							
					<td> 
							<input type = "submit" class = "btn-green" style = "font-size:20px" value = "Сохранить"/>			
					</td>
				</tr>
			</tfoot>	
			<tbody align="center">
				<tr>
					<td>Продажи</td>
					<td>				
						<div class="field">									
							<input type="text" th:field="${payment.salesPayment}" id="salesPayment" /> 
						</div>
					</td>				
				</tr>
				<tr>
					<td>Клиент</td>
					<td>
						<div class="field">									
							<input type="text" th:field="${payment.loyaltyPayment}" id="loyaltyPayment" /> 
						</div>
					</td>
				</tr>
				<tr>
					<td>Бизнес-процессы</td>
					<td>
						<div class="field">									
							<input type="text" th:field="${payment.businessPayment}" id="businessPayment" /> 
						</div>
					</td>
				</tr>
				<tr>
					<td>Склад</td>
					<td>					
						<div class="field">									
							<input type="text" th:field="${payment.stockPayment}" id="stockPayment" /> 
						</div>
					</td>
				</tr>
			</tbody>				
		</table>
		</form>
	</body>
</html>