<!DOCTYPE html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Приложение зарплата</title>
		<style>
			table, th, td {
  			border: 1px solid black;
  			border-collapse: collapse;
			}
			
			table.center {
			  margin-left: auto; 
			  margin-right: auto;
			}
		</style>
	</head>
	
	<body>		
		<table class = "center" style = "width:80%">
		<tr>
		<th> 
			<h2>Меню</h2>
		</th>
		</tr>
		<tr>	
			<td>
				<form>
					<button onClick = "window.location.href = '/api/managers'"> Расчет зарплаты </button> 
				</form>
			</td>
		</tr>
		<tr>
			<td> 
				<form>
					<button>Просмотр зарплаты </button> 
				</form>
			</td>
		</tr>		 
		 </table>		
	</body>
</html>